<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

{% load staticfiles %}

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'loginPortal/style.css' %}" rel="stylesheet" type="text/css" />
    </head>

    <body>
    	<div class = 'wrapper'>
    		<nav>
            	<ul>
               		<li><a href=''>HOME</a></li>
                    <li><a href=''>ABOUT US</a></li>
                    <li><a href=''>OUR SERVICES</a></li>
                    <li><a href=''>HOW TO HELP</a></li>
                    <li><a href=''>NEWS & EVENTS</a></li>
                    <li><a href=''>CAPITAL CAMPAIGN</a></li>
                    <li><a href=''>CONTACT</a></li>
                    <li style="border-right: 1px white solid;"><a href=''><img src="{% static "loginPortal/images/cart.png" %}" width='38' height='30' alt="Checkout"/></a></li>
                </ul>
            </nav>
            <div class='triangle-l'></div>
            <div class='triangle-r'></div>
    	    <div id="content">
        	   <div class='header'>
                    <div class='img'>
                        <img src="{% static "loginPortal/images/PALS_MSCL_FINAL-300x184.jpg" %}" width='300' height='184' alt="Pals: People and Animal Learning Services. Making Strides, Changing Lives."/>
                    </div>
                    <div class='tbl'>
                        <table class='right'>
                            <tr>
                                <td class='participate'><a href=''><img src="{% static 'loginPortal/images/blank.png' %}"></a></td>
                                <td class='donate'><a href=''><img src="{% static 'loginPortal/images/blank.png' %}"></a></td>
                                <td class='volunteer'><a href=''><img src="{% static 'loginPortal/images/blank.png' %}"></a></td>
                            </tr>
                            <tr>
                            	<td> <a href=''>PARTICIPATE</a></td>
                                <td><a href=''>DONATE</a></td>
                                <td><a href=''>VOLUNTEER</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
                {% block page %}
                {% endblock %}
                {% block buttons %}
                {% endblock %}
            </div>
         </div>
    </body>
</html>
